global
  pidfile ./haproxy.pid
#	external-check



defaults
	retries                 2
	timeout http-request    60s
	timeout connect         30s
	timeout client          1m 
	timeout server          10s 
	timeout http-keep-alive 30s
	timeout check           100s
	maxconn                 3000

listen stats
	bind 0.0.0.0:9096
	balance
	mode http
	stats enable
	stats auth admin:admin
	stats uri /
	stats refresh 30s

frontend front
	bind *:5992
	mode tcp
	default_backend servers

frontend front2
	bind *:5993
	mode tcp
	default_backend servers2

# backend servers
# 	mode tcp
#option external-check

#external-check command "/Users/zk/git/pythonPrj/iproxy/ping.sh"
